.post-center {
  background-color: #fff;
  margin: 1.2rem 1.8rem;
  padding: .8rem;
  border-radius: .3rem;
  border:.1rem solid #eee;
}

.post-titles {
  padding: 1rem;
}

.post-title {
  text-align: left;
  font-size: 2rem;
  font-weight: 600;
}

.post-intro {
  margin-top: .2rem;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
  font-style: italic;
}

.post-date {
  margin: .5rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-tag .ant-tag {
  font-size: 1rem;
  line-height: 1.4rem;
  margin-left: 1.5rem;
}

.icon {
  font-size: 2rem;
}

.post-img img {
  width: 100%;
  margin-bottom: 0;
}

.post-contents {
  padding: 0 1rem;
}

.post-time {
  font-size: 1.1rem;
}