.post-content {
  /* 文章内容 */
  color: #555;
  margin: 0 1rem 0 3rem;
  font-weight: 500;
}

.ant-list-vertical .ant-list-item-extra {
  /* 图片 */
  margin: 0 1rem;
}

img {
  width: 16rem
}

IconText {
  /* 图标 */
  margin: 1rem;
}

.ant-list-item-action>li {
  /* 图标间 */
  margin: 0 0 0 3rem;
  font-size: 1.1rem;
}

.ant-list-item-action-split {
  /* 图标间的小短线 */
  display: none;
}

.ant-list-vertical .ant-list-item-meta-title {
  /* 题目 */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
}