.block {
  text-align: center;
  margin-top: 1.4rem;
}

.react, .vue, .nest, .angular {
  padding-bottom: 1rem;
}

.ant-tag {
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin-right: 0;
}

.daohang {
  font-size: 2.8rem;
  margin-bottom: 1rem;
}