body {
  background-color: #f6f6f6 !important;
  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    Helvetica, Arial,
    sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol !important;
}

.all-center {
  background-color: #fff;
  margin: 1.2rem 1.8rem;
  padding: .8rem !important;
  border-radius: .3rem;
  border: .1rem solid #000;
}

.all-main {
  margin-top: .5rem !important;
}