.post-content {
  /* 文章内容 */
  color: #555;
  margin: 0 1rem 0 3rem;
  font-weight: 500;
}

.post-content:hover {
  cursor: pointer;
}

.ant-list-vertical .ant-list-item-extra {
  /* 图片 */
  margin: 0 1rem !important;
}

img {
  width: 16rem
}

IconText {
  /* 图标 */
  margin: 1rem;
}

.ant-list-item-action>li {
  /* 图标间 */
  margin: 0 0 0 3rem !important;
  font-size: 1.1rem !important;
}

.ant-list-item-action-split {
  /* 图标间的小短线 */
  display: none !important;
}

.ant-list-vertical .ant-list-item-meta-title {
  /* 题目 */
  font-size: 1.2rem !important;
  font-weight: bolder !important;
}